#container {
	display: flex;
	border: 5px solid white;
}

#container div {
	margin: 2px;
	height: 200px;
	width: 200px;

}
#container div:nth-child(1) {
	background-color: red;
	transition: height ease-in-out 2s;
}

#container div:nth-child(1):hover{
	height: 300px;
}

#container div:nth-child(2) {
	background-color: blue;
	flex-grow: 3;
	transition: background-color ease-in-out 2s;
}


#container div:nth-child(2):hover {
	background-color: violet;
}

#container div:nth-child(3) {
	background-color: yellow;
	transition: width ease-in-out 2s;
}

#container div:nth-child(3):hover {
	width: 400px;
}

#container div:nth-child(4) {
	background-color: grey;
    animation-name: movete;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
        
@keyframes movete {
	from {
          height: 200px
          }
    50% {
         height: 400px
        }
    to {
        height: 200px
        }
}

#container div:nth-child(5) {
	background-color: green;
}